**/build/
**/.idea/
**/cmake-build-debug/
**/.vs/
*.DS_Store
*.m~
*.manifest
*.arc
*.aux
*.bbl
*.blg
*.log
*.acr
*.asv
*.synctex.gz
*.ubx
/test_data/Experiment_Support_Doc/figures/dynamicinfo_dual-eps-converted-to.pdf
/test_data/Experiment_Support_Doc/figures/dynamicinfo_single-eps-converted-to.pdf
/test_data/Experiment_Support_Doc/figures/trajectory_dual-eps-converted-to.pdf
/test_data/Experiment_Support_Doc/figures/trajectory_single-eps-converted-to.pdf
/test_data/Experiment_Support_Doc/figures/Qi-eps-converted-to.pdf
