**/build/
**/.idea/
**/cmake-build-debug/
**/.vs/
*.DS_Store
*.m~
*.manifest
*.arc
*.aux
*.bbl
*.blg
*.log
*.acr
*.asv
*.synctex.gz
*.ubx
*-eps-converted-to.pdf
test_data/Experiment_Support_Doc/support_doc.pdf
